/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background: #fff;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  width: 360px;
  height: 200px;
}
.gallery-image {
  max-width: 100%;
  width: 360px;
  height: 200px;
}
.feedback-form {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.label-form {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.textarea-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.btn-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
